# ==========================================
# DATA (Never track large datasets)
# ==========================================
data/**/*

# BUT do not ignore the directories themselves
!data/**/

# BUT do not ignore .gitkeep files
!**/.gitkeep

# EEG/Audio/MRI data
*.set
*.fdt
*.mff
*.sfp
*.nii.gz
*.TextGrid
*.wav
*.mp3

# Processed Data
*.mat
*.npy
*.npz
*.pkl

# ==========================================
# HIGH PERFORMANCE COMPUTING (HPC/Slurm)
# ==========================================
# Ignore Slurm output and error logs
*.out
*.err

# ==========================================
# MATLAB
# ==========================================
# MATLAB metadata and autosaves
*.asv
*.mex*
*.slxc

# ==========================================
# PYTHON 
# ==========================================
__pycache__/

# ==========================================
# SYSTEM / IDE
# ==========================================
.DS_Store
Thumbs.db
.vscode/
*.swp
